<!DOCTYPE html>
<html>
  <head>
    <title>Uploaded Transactions Manager</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" %>
    <%= stylesheet_link_tag    "https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" %>
    <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"%>  
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.js"%>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag  "https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js" %>  
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>            
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">HomeLight</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agents</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% Agent.all.each do |agent| %>
                  <a class="dropdown-item" href="<%= agent_path(agent) %>"><%= agent.full_name %></a>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <script>
        $(document).ready( function () {
              $('.mdl-data-table').DataTable( {
                      columnDefs: [
                  {
                      targets: [ 0 ],
                      className: 'mdl-data-table__cell--non-numeric'
                  }
                ]
              } );

            $('.mdl-data-table tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
                console.log($(this));
            } );
            
            $('.btn btn-primary').click( function () {
                alert( table.rows('.selected').data().length +' row(s) selected' );
            } );
        } );
        $(document).ready(function() {
               $('select').formSelect();
        });
      </script>
      <%= yield %>      
    </div>
  </body>
</html>
